[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
black = "*"
autopep8 = "*"

[packages]
ujson = "*"
flask = "*"
flask-cors = "*"
flask-jwt = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
